
.brand-list{
	@include container(600px);
	background: rgba(0, 0, 0, 0.12);
		ol{
			padding: 0;
		}
		li{
			@include span(1 of 5);
			line-height: 120px;
			text-align:center;
			list-style-type: none;
			height: 100px;
			width: 100px;
			margin:10px;
			color:red;
  			text-shadow: 1px 1px 0 white;
  			-webkit-filter: drop-shadow(3px 1px 1px blue);
  			.fa-soccer-ball-o{
  				animation: fa-spin 3s infinite linear;
  				color:black;
  			}
  			.fa-html5{
  				color:black;
  			}
			.fa-optin-monster{
				background-image:linear-gradient(black,green);
			}
		}
}
.list-2{
	@include container(720px);
	ol{
		padding:0;
	}
	li{
		@include span(2);
		border-radius: 20px;
		height: 100px;
		width: 100px;
		margin: 10px;
		background: black;
		color:white;
		text-align:center;
		list-style-type: none;
		line-height: 110px;
		position: relative;
		transition: 0.3s;
		&:hover{
			margin:0;
			background: red;
			height: 110px;
			width: 110px;
			line-height: 125px;

		}
		p{
			position:absolute;
			top:70%;
			left:50%;
			transform: translate(-50%, -50%);
			font-size: 10px;
			color:rgb(240, 175, 34);
		}
	}
}

.list-3{
	@include container(720px);
	div{
		@include span (3);
		margin: 20px;
	}
	i{
		border-radius:20px 20px 0 0;
		background: black;
		color:white;
		text-align: center;
		line-height: 200px;
		text-shadow: 2px 2px 0 silver;
		height: 200px;
		width: 200px;
		&:hover{
			border-radius: 100px;
			background-image:linear-gradient(black,green);
			color:black;
			animation: fa-spin 3s infinite linear;
			
		}
	}
}
.ganti{
	@include container(500px);
	width:500px;
	.awal{
		text-align: center;
		position:absolute;
		transition: 0.1s;
		width: 500px;

	}
	.akhir{
		position:absolute;
		transition: 0.3s;
		opacity: 0;
		width: 500px;
	}
	&:hover{
		.awal{
			opacity: 0;
			width: 500px;
		}
		.akhir{
			position:absolute;
			opacity: 1;
			text-align: center;
			width: 500px;
		}
	}
}