@import url('https://fonts.googleapis.com/css?family=Iceland|Pacifico');
.header-nav{
	@include span(12);
	background:linear-gradient(#7033AA,#7033CC);
	height:45px;
	position: fixed;
	color:white;
	.navi{
		@include container(800px);
		width: 80%;
		background: rgba(158, 100, 246, 0.8);
		height: 45px;
		font-family: 'Iceland';

		.branded{
			@include span(6);
			text-align: center;
			img{
				height: 3vh;
			}
		}
		.properti{
			@include span(12);
			margin-top: -20px;
			display: none;

			ul{
				text-align: center;
				padding: 0;
			}
			li{
				list-style-type: none;
				display: inline-block;
				margin:2px;
				a{
					text-decoration: none;
					color:white;
				}
			}
		}
		.trigger{
			@include span(6);
			height: 20px;
			text-align: right;
			display: block;
			cursor: pointer;
			
		}
		
	}

	@include susy-breakpoint($tablet-size){
		background:linear-gradient(#7033CC,black);
		
		.navi{
		@include container(800px);
		width: 80%;
		background: rgba(158, 100, 246, 0.8);
		height: 45px;
		font-family: 'Iceland';
		font-size: 23px;
		.branded{
			@include span(6);
			float: left;
			text-align: left;
			display: block;
			img{
				height: 4vh;
			}
		}
		.properti{
			@include span(6);
			display: block;
			margin-top:-17px;
			ul{
				float: right;
			}
			li{
				margin:2px;
				list-style-type: none;
				display: inline-block;
				a{
					text-decoration: none;
					color:white;
				}
			}
		}
		.trigger{
			display:none;
		}
	}

	}

	@include susy-breakpoint($desktop-size){
		background:linear-gradient(black,#7033CC);
		.navi{
		@include container(800px);
		width: 80%;
		background: rgba(158, 100, 246, 0.8);
		height: 45px;
		font-family: 'Iceland';
		font-size: 26px;
		.branded{
			@include span(6);
			float: left;
			text-align: left;
			display: block;
			img{
				height: 5vh;
			}
		}
		.properti{
			@include span(6);
			display: block;
			margin-top:-20px;
			ul{
				float: right;
			}
			li{
				list-style-type: none;
				display: inline-block;

				a{
					text-decoration: none;
					color:white;
				}
			}
		}
		.trigger{
			display: none;
		}
	}

	}
}
.conten{
	@include span(12);
	height:2000px;
	background: url(http://3.bp.blogspot.com/-BgWjwSL4HWU/T9YKjzi0iyI/AAAAAAAAAJE/kldAg5Y3Rrw/s1600/serigala3.jpg) no-repeat center center / cover fixed;
	padding-top:45px;
	
}