.wrap-raisa{
	@include span(12);
	height:2100px;
	background: url(https://i.ytimg.com/vi/QcEgQxM3koc/maxresdefault.jpg) no-repeat center center / cover fixed;
	padding:0;
	
	.pertama{
		@include span(12);
		background-color: rgba(255, 127, 127, 0.47);
		position: fixed;
		transition: 0.1s;
		padding-left:0;
		height: 50px;
		z-index: 8;
		#trigger2{
			float: right;
			background: none;
			cursor: pointer;
			
		}
	}
	.kedua{
		@include span(12);
		transition: 0.3s;
		display: none;
		background: none;
		padding-right:0;
		.navigasi{
			@include span(6);
			position:fixed;
			z-index: 9;
			
			ul{
				padding:0;
				li{
					list-style-type: none;
					display: inline-block;
					a{
						text-decoration: none;
						color:black;
						margin: 2px;
					}	
					img{
						height: 20px;
					}			
				}
			}
		}

		.konten{
			@include span(6);

			float: right;
			margin-top: 50px;
			z-index: 1;
			height: 2050px;
			background-color: rgba(255, 127, 127, 0.47);
			.rumah{
				display: block;
				
				img{
					width: 100%;
					height: 50%;
				}
				h2{
					text-align: center;
					color: #F24949;
				}
				.gallery{
					@include span(12);

					div{
						@include span(6);
						height: 200px;
						img{
							width: 100%;
							height: 96%;
							
							&:hover{
								opacity: 0.8;

							}
						}
					}
					
				}
				.kaki-raisa{
					@include span(12);

					div{
						@include span(1 of 2);
						height: 80px;
					}
				}
			}
			.tentang{
				display: none;
				@include span(12);
				div{
					@include span(1 of 2);
					padding:0;
					img{
						width: 96%;
						height: 360px;
					}
				}
			}
			.kontak{
				display: none;
			}
		}
	}
	
}