.kepala{
	@include span(12);
	height:30px;
	position: fixed;
	background: white;
	z-index: 99;
	.napi{
		@include container(1200px);
		height: 30px;
		.merek{
			@include span(6);

			height: 30px;
			display: none;
			.logoo{
				font-size: 20px;
				a{
					text-decoration: none;
					color:black;
				}
			}
		}
		.trigger3{
			@include span(12);
			background-color:rgba(0, 0, 0, 0.91);
			float: left;
			height: 30px;
			color:white;
			display: block;
			cursor: pointer;
			z-index: 1;
			border-bottom:1px solid grey;
			.kiri{
				@include span(6);
			}
			.kanan{
				@include span(6);
				img{
					float:right;
					height: 30px;
				}
			}
				
		}
		.link{
			@include span(12); 
			background-color:rgba(0, 0, 0, 0.91);
			height: 100vh;
			z-index: 1;
			ul{
				padding: 0;
				margin-top: 30vh;
			}
			li{
				list-style-type: none;
				text-align: center;
				height: 30px;
				line-height: 30px;
				border-bottom: 1px solid white;
				position:relative;
				.satu{
					display: none;
					position:absolute;
					background-color: #f9f9f9;
				    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				    li{
				    	position:relative;
				    	height: 40px;
				    	a{
					    	color: white;
						    text-decoration: none;
						    display: block;
						    width: 200px;
						    &:hover{
						    	color:black;
						    }
						}
						.dua{
							display: none; 
							position:absolute;
							width: 200px;
							left: 220px;
							top:0px;
							background-color:rgba(0, 0, 0, 0.91);
							li{
								height: 40px;
							  	width: 200px;
							  	a{
							    	color: white;
								    text-decoration: none;
								    width: 200px;
								    &:hover{
								    	color:black;
								    }
							    }
							}
						}
						&:hover{
							color:black;
							.dua{
								display: block;
							}
						}
					}
				}
						
				a{
					text-decoration: none;
					color:white;
					margin: 10px;


				}
				&:hover{
					background: grey;
					height: 30px;
					.satu{
						display: none;

					}
				}
			}
		}
		.cari{
				@include span(4);
				height: 30px;
				margin-left:-20px;
				margin-top:5px; 
				display: none; 
				.pencari{
					display: none;
					margin-top: -19px;
					margin-left:20px; 
				}
			}
	}

	@include susy-breakpoint($tablet-size){
		.napi{
			@include container(1000px);
			background: white;
			height: 30px;
			.merek{
				@include span(2);
				background: grey;
				height: 30px;
				display: none;
				.logoo{
					font-size: 20px;
					a{
						text-decoration: none;
						color:black;
					}
				}
			}
			.trigger3{
				@include span(12);
				background-color:rgba(0, 0, 0, 0.91);
				float: left;
				height: 30px;
				color:white;
				display: block;
				cursor: pointer;
				z-index: 1;
				border-bottom:1px solid grey;
				.kiri{
					@include span(6);
				}
				.kanan{
					@include span(6);
					img{
						float:right;
						height: 30px;
					}
				}	
			}
			.link{
				@include span(12); 
				z-index: 1;
				ul{
					padding: 0;
					margin-top: 30vh;
				
					li{
						list-style-type: none;
						text-align: center;
						height: 30px;
						line-height: 30px;
						position:relative;
						border-bottom: 1px solid white;
						a{
							text-decoration: none;
							color:white;
							margin: 10px;
						}
						.satu{
							display: none;
							position:absolute;
							background-color: #f9f9f9;
						    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
						    li{
						    	position:relative;
						    	height: 40px;
						    	a{
							    	color: white;
								    text-decoration: none;
								    display: block;
								    width: 200px;
								    &:hover{
								    	color:black;
								    }
								}
							    .dua{
							    	display: none; 
							    	position:absolute;
							    	width: 200px;
							    	left: 220px;
							    	top:0px;
							    	background-color:rgba(0, 0, 0, 0.91);
							    	li{
							    		height: 40px;
							    		width: 200px;
							    		a{
									    	color: white;
										    text-decoration: none;
										    width: 200px;
										    &:hover{
										    	color:black;
										    }
									    }
							    	}
							    }
							    &:hover{
									color:black;
									.dua{
										display: block;
									}
								}
						    }
						}
						
						&:hover{
							background: grey;
							height: 30px;
							.satu{
								display: none;

							}
						}
					}
				}
			}
			.cari{
				@include span(4);
				height: 30px;
				margin-left:-20px;
				margin-top:5px; 
				display: none; 
				.pencari{
					display: none;
					margin-top: -19px;
					margin-left:20px; 
				}
			}
		}
	}
	@include susy-breakpoint($desktop-size){
		
		.napi{
			@include container(1500px);
			height: 35px;
			background: white;
			border-bottom:1px solid black;
			
			.merek{
				@include span(4);
				background: white;
				height: 35px;
				display: block;
				.logoo{
					font-size: 20px;
					margin-top: 5px;
					a{
						text-decoration: none;
						color:black;
					}
				}
			}
			.trigger3{
				display: none;
			}
			.link{
				@include span(4); 
				display: block;
				background: white;
				height: 30px;
				
				ul{
					padding: 0;
					margin-top: 0;
					li{
						list-style-type: none;
						display: inline-block;
						text-align: center;
						height: 30px;
						min-width: 80px;
						position:relative;
						
						a{
							text-decoration: none;
							color:black;
							margin: 10px;
						}
						.satu{
							display: none;
							position:absolute;
							background-color: rgba(0, 0, 0, 91);
							
						    li{
						    	position:relative;
						    	height: 40px;

						    	i{
						    		float:right;
						    	}
						    	a{
							    	color: white;
								    text-decoration: none;
								    display: block;
								    width: 200px;
								    text-align: left;
								    &:hover{
								    	color:white;
								    }
								}
							    .dua{
							    	display: none; 
							    	position:absolute;
							    	width: 200px;
							    	left: 220px;
							    	top:0px;
							    	background-color: rgba(0, 0, 0, 0.7);
							    	li{
							    		height: 40px;
							    		width: 200px;
							    		color:black;
							    		a{
									    	color: white;
										    text-decoration: none;
										    width: 200px;
										    &:hover{
										    	color:white;
										    }
									    }
							    	}
							    }
							    &:hover{
							    	background-color: rgba(0, 0, 0, 91);
									.dua{
										display: block;
									}
								}
						    }
						}
						&:hover{
							background: #e8e8e8;
							height: 30px;
							.satu{
								background-color: rgba(0, 0, 0, 0.7);
								display: block;
							}
						}
					}

				}
			}
			.cari{
				@include span(4);
				height: 30px;
				margin-top:5px; 
				z-index: 1;
				display: block;
				#trigger4{
					cursor: pointer;
					margin-left:-15px;
				}
				.pencari{
					cursor: pointer;
					margin-top: 0px;
					margin-left:40px; 
				}
			}
		}
	}	
	
}
.kontent{
	@include span(12);
	height:1500px;
	padding-top:20px;

	.judul{
		@include container(1200px);
		padding-top:40px;
		padding-bottom:40px;

		text-align: center;
		font-size: 30px;
	}
	.foto-list{
		@include container(1200px);
		background: rgba(0, 0, 0, 0.12);
		ul{
			padding:0;
			li{
				@include span(1 of 2);
				list-style-type: none;
				height: 150px;
				.tanggal{
					text-align: center;
					font-size: 10px;
				}
				img{
					height: 60%;
					width: 100%;
					z-index: 0;
					&:hover{
						z-index: 0;
						opacity: 0.7;
					}
				}
				.jdl{
					text-align: center;
					font-size: 20px;
				}
				.isi{
					display: none;
					text-align:justify;
					font-size: 13px;
				}
			}
		}
		
	}
	@include susy-breakpoint($tablet-size){
		@include span(12);
		height:3120px;
		padding-top:20px;
		.judul{
			@include container(1200px);
			padding-top:40px;
			padding-bottom:40px;
			text-align: center;
			font-size: 30px;
		}
		.foto-list{
			@include container(1200px);
			background: rgba(0, 0, 0, 0.12);

			ul{
				padding:0;
				li{
					@include span(1 of 2);
					list-style-type: none;
					height: 330px;
					.tanggal{
						text-align: center;
						font-size: 10px;
					}
					img{
						height: 60%;
						width: 100%;
						z-index: 0;
						&:hover{
							z-index: 0;
							opacity: 0.7;
					}
					}
					.jdl{
						text-align: center;
						font-size: 20px;
					}
					.isi{
						text-align:justify;
						font-size: 13px;
						display: block;
					}
				}
			}
			
		}
	}
	@include susy-breakpoint($desktop-size){
		@include span(12);
		height:2230px;
		padding-top:20px;
		.judul{
			@include container(1500px);
			padding-top:40px;
			padding-bottom:40px;
			text-align: center;
			font-size: 30px;
		}
		.foto-list{
			@include container(1500px);
			background: rgba(0, 0, 0, 0.12);
			
			ul{
				padding:0;
				li{
					@include span(1 of 3);
					list-style-type: none;
					height: 350px;
					.tanggal{
						text-align: center;
						font-size: 10px;
					}
					img{
						height: 60%;
						width: 100%;

						&:hover{
							
							z-index: -1;
							opacity: 0.7;
					}
					}
					.jdl{
						text-align: center;
						font-size: 20px;
					}
					.isi{
						text-align:justify;
						font-size: 13px;
					}
				}
			}
			
		}
	}

}

.kaki{
	@include span(12);
	font-size:14px;
    padding:20px 10px 20px 10px;
    background-color:#eee;
    img{
    	background: black;
    	display: block;
    	height: 30px;
    }
	
}