
.wrap-vi{
	@include span(12);
	height:1800px;
	background: #eaeaea;
	padding-left:0;
	padding-right:0;
	.satu-vi{
		height: 40px;
		background: #424242;

		.login-vi{
			float: right;
			color: white;
			height: 40px;
			width: 70px;
			margin-right:50px; 
			line-height: 35px;
			text-align:center; 
			border-left: 1px solid white;
			border-right: 1px solid white;
			cursor: pointer;
			&:hover{
				background: #058593;
			}
		}
	}
	.dua-vi{
		@include container(1200px);
		height: 120px;
		.logo-vi{
			@include span(3);
			img{
				margin:10px;
			}
		}
		.cari-vi{
			@include span(9);
			height: 120px;
			input{
				margin-top: 35px;
				height: 40px;
				width: 300px;
				padding-left:10px;
			}
		}
	}
	.tiga-vi{
		@include container(1200px);
		margin-top:20px; 
		height: 50px;
		background: white;
		box-shadow: 0px 0px 10px #888888;
		border-bottom: 5px solid #058593;
		ul{
			padding:0;
			li{
				list-style-type: none;
				display: inline-block;
				line-height: 50px;
				min-width: 120px;
				text-align: center;
				background: #eaeaea;
				height: 50px;
				cursor: pointer;
				color: #058593;
				font-weight: bold;
				position: relative;
				ul{
					display: none;
					position:absolute;
					width: 1200px;
					margin-left: -125px;
					li{
						display: inline-block;
						border:1px solid #058593;
						float: left;
						margin:1px;
						min-width: 235.8px;
					}
				}
				&:hover{
					background: #058593;
					color: #eaeaea;
					ul{
						display: block;
						z-index: 99;
					}
				}
			}
		}
	}
	.empat-vi{
		@include container(1200px);
		position: relative;
		margin: auto;
		margin-top: 10px;
		z-index: 0;
		.mySlides {
			display:none;
		}
		.fade {
		  -webkit-animation-name: fade;
		  -webkit-animation-duration: 1.5s;
		  animation-name: fade;
		  animation-duration: 1.5s;
		}
		.prev, .next {
		  cursor: pointer;
		  position: absolute;
		  top: 50%;
		  width: auto;
		  padding: 16px;
		  margin-top: -22px;
		  color: white;
		  font-weight: bold;
		  font-size: 18px;
		  transition: 0.6s ease;
		  border-radius: 0 3px 3px 0;
		  &:hover{
		  	 background-color: rgba(0,0,0,0.8);
		  }
		}
		.next {
		  right: 0;
		  border-radius: 3px 0 0 3px;
		}
	}
	.lima-vi{
		@include container(1200px);
		div{
			@include span(4);
			height: 300px;
			background: black;
			border: 1px solid white;
			&:hover{
				opacity: 0.8;
			}
		}
	}

}